services:
  db:
    image: postgres:18
    environment:
      POSTGRES_USER: ticket_admin
      POSTGRES_PASSWORD: hard
      POSTGRES_DB: ticket_system
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql


volumes:
  postgres_data: